*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: linear-gradient(135deg, #00000091, #484a4a55);
    margin-top: 25px;
    border: 0;
}
body div{
    max-width: 1200px;
    margin: auto;
    border: 0;
    justify-content: center;
}
body div.head{
    margin: 1%;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
div header{
    width: 100%;
    height: 450px;
}
div header img{
    height: 510px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
ul.navbar li{
    display: flex;
    float: left;
    text-align: center;
    margin: auto;
    background: rgba(255, 255, 255, 0.452);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    cursor: pointer;
    font-size: large;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
ul li:hover{
    background: rgba(255, 166, 0, 0.52);
}
ul.navbar{
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
}
form div.website{
    width: 90%;
    height: 100%;
    color: white;
    margin: 1%;
    margin: auto;
    margin-top: 5%;
    display: block;
}
div.cols{
    width: 90%;
    height: 450px;
    display: flex;
}



div.cols img.pose{
    height: 300px;
    width: 350px;
    margin: 60px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
div.cols div.tekst{
    display: block;
    margin-top: 70px;
    border: 0;
}
div.cols div.tekst p{
    font-style: italic;
    padding-left: 10px;
}
div.cols div.tekst h3.buy{
    background: rgba(255, 255, 255, 0.452);;
    width: 45%;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;
}
div.cols div.tekst h3.buy:hover{
    background: rgba(255, 166, 0, 0.52);
}
div.cols div.tekst img{
    width: 30px;
    height: 30px;
    margin-bottom: -5px;
}

div.cols div.tekst h3{
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
}
div.cols div.tekst h5.price{
    text-decoration: line-through;
    padding-top: 15px;
    padding-left: 120px;
}
div.cols div.tekst h3.price{
    padding-left: 10px;
    cursor: default;
    color: rgba(255, 166, 0, 0.52);
}
.cols img{
    opacity: 0.9;
    cursor: pointer;
}
.cols p.sale{
    position: relative;
    right: 200px;
    top: 200px;
    background: rgb(255, 0, 0, 30%);
    transform: rotate(45deg);
    padding: 15px;
    height: 50px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}




.footer{
    max-width: 100%;
    width: 100%;
    height: 100px;
    display: flex;
    background: radial-gradient(#87878738, #141414bf);
}
div.review{
    border: 0;
    padding-left: -10px;
}
div.review input {
    display: block;
    text-align: left;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.452);
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
}
div.review button{
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.452);
    font-weight: bold;
    font-size: 15px;
    margin-left: 20px;
}
div.review button:hover{
    background: rgba(255, 166, 0, 0.52);
    cursor: pointer;
}
div.contact{
    text-align: center;
    border: 0;
}
div.contact p, div.contact a{
    text-decoration: none;
    color: rgba(255, 252, 252, 0.396);
    text-align: center;
}
div.contact p{
    padding-bottom: 5px;
}
div.contact a:hover{
    cursor: pointer;
    color: rgba(255, 166, 0, 0.52);
}
div.socials{
    text-align: center;
    padding: 20px;
    border: 0;
}
div.socials img{
    width: 35px;
    height: 35px;
}

